In [13]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28,0,> 2 Years,Yes,40454,26,217,1
1,2,Male,76,1,3,0,1-2 Year,No,33536,26,183,0
2,3,Male,47,1,28,0,> 2 Years,Yes,38294,26,27,1
3,4,Male,21,1,11,1,< 1 Year,No,28619,152,203,0
4,5,Female,29,1,41,1,< 1 Year,No,27496,152,39,0

In [14]:
# df should be converted into dict before we push it to mongodb
# df.to_dict(orient='records') converts the DataFrame into a list of dictionaries, where each row becomes one dictionary.
# orient='records' means:
# ➡️ Convert each row of the DataFrame into a separate dictionary.
# ➡️ Return a list of dictionaries, one dict per row.
data = df.to_dict(orient='records')

In [ ]:
from urllib.parse import quote_plus

DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
username = quote_plus("username")
password = quote_plus("password")
CONNECTION_URL = f"mongodb+srv://{username}:{password}@cluster0.wloqh7l.mongodb.net/?appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [ ]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]
# Use the above defined variables to establish a connection with mongoDB setup

In [18]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [19]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>